<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <Script type="text/javascript"src="../../Js/jquery-3.6.0.js"></Script>
    <script type="text/javascript" src="../../Js/DeliveryMan/home.js"></script>

</head>
<body>

    <br><br>

    <div class="container">
        <table class="table table-bordered" id="Order">
            <thead class="thead-dark">
                <td>Order Id</td>
                <td>Date</td>
                <td>Address</td>
                <td>District</td>
                <td>Total Amount</td>
                <td>Payment Type</td>
                <td>Customer Id</td>
                <td>Status</td>
                <td>Action</td>
            </thead>
            <tbody>
    
            </tbody>
        </table>
    </div>

    <a href="../../Views/Login/index.html">Log Out</a>
    
</body>
</html>